.disabled-card {
  opacity: 0.3; /* Makes it look faded */
  pointer-events: none;
}
.m-header {
  margin-top: 85px;
}
.m-header-store {
  margin-top: 45px;
}
.sticky-footer {
  position: sticky;
  bottom: 0;
  // display: flex;
  // justify-content: flex-end;
}
.store-with-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2;
}
